@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}
.wrapper {
  @apply w-full
    h-auto
    flex items-center flex-col;
}

.contain {
  @apply w-full md:w-[736px] lg:w-[934px] xl:w-[1120px] flex items-center;
}
.contain-2 {
  @apply w-full bg-white md:w-[736px] lg:w-[934px] xl:w-[1120px] flex items-center;
}
@media  (min-width:1024px){
  .contain-2 {
    background: none;
  }
}

.game {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/public/img/electronics-banner-2.webp);
  @apply w-full h-auto;
}
